
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#fffaf5;
color:#333;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#111;
}

.logo{
color:gold;
font-size:28px;
}

.nav-links{
display:flex;
list-style:none;
gap:25px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

.nav-links a:hover{
color:gold;
}

.hero{
height:85vh;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url('../images/hero.jpg');
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.hero-content h2{
font-size:50px;
margin-bottom:20px;
}

.hero-content p{
font-size:20px;
margin-bottom:30px;
}

.btn{
padding:12px 25px;
background:gold;
color:black;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}

.featured,
.products-page,
.about-page,
.contact-page{
padding:60px 40px;
text-align:center;
}

.featured h2,
.products-page h2,
.about-page h2,
.contact-page h2{
margin-bottom:40px;
font-size:36px;
color:#b8860b;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.product-card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.product-card:hover{
transform:translateY(-8px);
}

.product-card img{
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
}

.product-card h3{
margin:15px 0;
}

.product-card button{
padding:10px 20px;
background:#111;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.offer-section{
background:#111;
color:white;
text-align:center;
padding:50px;
}

.contact-form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

.contact-form input,
.contact-form textarea{
padding:15px;
border:1px solid #ccc;
border-radius:5px;
}

.contact-form button{
padding:15px;
background:gold;
border:none;
font-weight:bold;
cursor:pointer;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

@media(max-width:768px){

.navbar{
flex-direction:column;
gap:15px;
}

.hero-content h2{
font-size:32px;
}

}
